*.dll
LICENSE.zlib.txt
apk*
Builds/Linux/0*
Builds/Linux/1*
Builds/Linux/2*
Builds/Linux/3*
Builds/Linux/4*
Builds/Linux/5*
Builds/Linux/6*
Builds/Windows/flap*
markdown_help.md
FlappyBird_next.md
todo.md
27.c
angle.c
Static Linkage.md
Makefile_static
hiscore
*.log